body {
  background: none;
  background-color: #888;
  color: #111;
  font-family: sans-serif;
}
#fretboard-container {
  position: relative;
}
.nut {
  width: 30px;
  display: inline-block;
  background-color: #222;
}
.nut.minimalist {
  background-color: white !important;
  border-color: black !important;
  border-style: solid;
  border-width: 2px !important;
  color: black !important;
  border-right: none;
}
.nut.minimalist .note-unit-fret {
  background-color: black;
}
.nut.fretted {
  background-color: #ffe4c4;
}
.fingerboard {
  width: calc(100% - 30px);
  display: inline-block;
  background-color: #444;
}
.fingerboard.minimalist {
  background-color: white !important;
  border-color: black !important;
  border-style: solid;
  border-width: 2px !important;
  color: black !important;
}
.fingerboard.minimalist .note-unit-fret {
  background-color: black;
}
.fingerboard.fretted {
  background-color: #33200C;
}
.fingerboard-unit {
  display: inline-block;
}
.fingerboard-note-unit {
  height: 30px;
  position: relative;
}
.note-unit-label {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px #000 solid;
  background-color: #fff;
  z-index: 300;
}
.chord-superscript {
  font-size: 11px;
  vertical-align: top;
  letter-spacing: -2px;
}
.nut .note-unit-label {
  position: absolute;
  top: 1px;
  left: 2px;
}
.nut-unit {
  display: inline-block;
  width: 100%;
}
.fretless .note-unit-label {
  position: absolute;
  top: 1px;
  right: 0;
}
.fretless .guide-marker {
  right: 0;
}
.fretless .guide-marker.one-marker::before,
.fretless .guide-marker.one-marker::after {
  margin-left: -12px;
}
.fretless .guide-marker.two-markers::before,
.fretless .guide-marker.two-markers::after {
  margin-left: -12px;
}
.fretless .guide-text-marker {
  position: absolute;
  width: 28px;
  right: 0;
}
.fretted .note-unit-fret {
  width: 2px;
  height: 100%;
  background-color: #dddddd;
  position: absolute;
  right: 0;
}
.fretted .note-unit-label {
  position: absolute;
  top: 1px;
  left: calc(50% -  14px);
}
.fretted .guide-marker {
  left: 50%;
}
.fretted .guide-marker.one-marker::before,
.fretted .guide-marker.one-marker::after {
  margin-left: -8px;
}
.fretted .guide-marker.two-markers::before,
.fretted .guide-marker.two-markers::after {
  margin-left: -8px;
}
/******************************************************************************
*****   FINGERBOARD GUIDE   ***************************************************
******************************************************************************/
.guide {
  margin-left: 30px;
}
.guide .guide-marker,
.guide .guide-text-marker {
  display: none;
}
.guide.dots .guide-marker {
  display: block;
}
.guide.numerals .guide-text-marker {
  display: block;
}
.guide-unit {
  height: 45px;
  display: inline-block;
  position: relative;
}
.guide-marker {
  position: absolute;
  top: 0;
  height: 45px;
  width: 10px;
}
.guide-marker.one-marker::before {
  position: absolute;
  content: "";
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-left: -8px;
  top: 14.5px;
}
.guide-marker.two-markers::before,
.guide-marker.two-markers::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
  margin-left: -8px;
}
.guide-marker.two-markers::before {
  top: 4px;
}
.guide-marker.two-markers::after {
  bottom: 4px;
}
.guide-text-marker {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  line-height: 45px;
}
/******************************************************************************
*****   STRINGS   *************************************************************
******************************************************************************/
.strings {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}
.string-unit {
  height: 30px;
  padding-top: 13px;
}
.string {
  height: 3px;
  background-color: #000;
}
/******************************************************************************
*****   CONTROLS AND TEXT   ***************************************************
******************************************************************************/
#text-current-instrument {
  font-size: 36px;
  font-weight: bold;
  font-family: 'open_sansbold', Arial, sans-serif;
}
#title-current-instrument {
  display: inline;
}
/******************************************************************************
*****   HIGHLIGHTING   ********************************************************
******************************************************************************/
.highlight-root {
  background-color: #ff6666;
}
.highlight-third {
  background-color: #ffaaaa;
}
.highlight-fifth {
  background-color: #ff8888;
}
.highlight-seventh {
  background-color: #ffcccc;
}
/******************************************************************************
*****   THEMES   **************************************************************
******************************************************************************/
.minimalist .note-unit-fret {
  background-color: black;
}
