body {
  background: none;
  background-color: #888;
  color: #111;
  font-family: sans-serif;
}
#fretboard-container {
  position: relative;
}
.nut {
  width: 30px;
  display: inline-block;
  background-color: #222;
}
.nut.minimalist {
  background-color: white !important;
  border-color: black !important;
  border-style: solid;
  border-width: 2px !important;
  color: black !important;
  border-right: none;
}
.fingerboard {
  width: calc(100% - 30px);
  display: inline-block;
  background-color: #444;
}
.fingerboard.minimalist {
  background-color: white !important;
  border-color: black !important;
  border-style: solid;
  border-width: 2px !important;
  color: black !important;
}
.fingerboard-unit {
  display: inline-block;
}
.fingerboard-note-unit {
  height: 30px;
  position: relative;
}
.note-unit-label {
  height: 28px;
  width: 28px;
  border-radius: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px #000 solid;
  background-color: #fff;
  z-index: 300;
}
.chord-superscript {
  font-size: 11px;
  vertical-align: top;
  letter-spacing: -2px;
}
.nut .note-unit-label {
  position: absolute;
  top: 1px;
  left: 2px;
}
.nut-unit {
  display: inline-block;
}
.fretless .note-unit-label {
  position: absolute;
  top: 1px;
  right: 0;
}
.fretted .note-unit-fret {
  width: 2px;
  height: 100%;
  background-color: #dddddd;
  position: absolute;
  right: 0;
}
.fretted .note-unit-label {
  position: absolute;
  top: 1px;
  left: calc(50% -  14px);
}
.strings {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}
.string-unit {
  height: 30px;
  padding-top: 13px;
}
.string {
  height: 3px;
  background-color: #000;
}
/* THEMES */
